.Social-media {
  display: flex;
}

.Footer-link img {
  width: 3% !important;
  margin-right: 10px;
  cursor: pointer;
}

.Footer-link a {
  display: block;
  width: 100%;
  cursor: pointer;
  color: #282828 !important;
  font-size: 14px;
}

.Social-media img {
  /* width: 10%; */
  cursor: pointer;
}
.underLogoPara {
  font-size: 14px;
}
.OurServices {
  padding: 0px;
}
.left-side ul {
  z-index: -1 !important;
}
.setImgSize{
  display: flex;
  justify-content: center;
  align-items: center;
}
.AwardInnerClass{
  padding-bottom:75px !important; display: flex; flex-direction: column; align-items: center;
}

@media screen and (max-width: 590px) {
  .Footer-link {
    padding: 10px 0px 10px 0px !important;
  }

  .Footer-link a {
    margin-left: 8px;
  }
}
